.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  padding: 0 150px;
  min-height: 100vh;
  margin: 0px auto;
  max-width: 1600px;
}

/* Mobile */
@media (max-width: 700px) {
  .main {
  padding: 0 50px;
  }
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
  .main {
    padding: 0 100px;
    }
}

@media (prefers-color-scheme: dark) {
}
